.list-title {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: large;
    font-display: block;
    margin-right: 100px;
    background-color: rosybrown;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
.list-item {
    font-size: large;
    background-color: #F7DCD5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
.registration-btn {
    background-color: #3D5361;
    text-align: center;
    padding: 10px 15px;
    color: white;
    width: 100px;
    border-radius: 20px;
    font-weight: bold;
}
.btn:hover {
    background-color: #DFCAA0;
}
.form-div {
    background-color: rosybrown;
    width: 600px;
    margin-left: 280px;
    margin-top: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border: solid;
    padding: 20px 20px 20px 20px;
    height: 150px;
    font-weight: bold;
    font-size: large;
    font-display: block;
    text-align: center;
    color: white;
}