
@{
    ViewBag.Title = "AlreadySubmittedDocument";
}
<head>
    <link rel="stylesheet" href="~/Content/Notification.css">
</head>
<div class="form-div">
    <div>
        You have already submitted your documents.
    </div>
</div>

