
@{
    ViewBag.Title = "DocumentStatus";
}
<head>
    <link rel="stylesheet" href="~/Content/Notification.css">
</head>

<h2>Document Status</h2>
<div class="form-div">
<div>Thank you for submitting your documentations.</div>
    <div>Your application request is under verification.</div>
    </div>

