
@{
    ViewBag.Title = "NotApprovedVoter";
}
<head>
    <link rel="stylesheet" href="~/Content/Notification.css">
</head>
<div class="form-div">Dear applicant, thank you for applying for the voting process. Your request has been denied by the authorities.</div>

