
@{
    ViewBag.Title = "VoterStatus";
}

<h2>Voter Status</h2>
<head>
    <link rel="stylesheet" href="~/Content/Notification.css">
</head>
<div class="form-div">
    <div>Dear user, you are not a valid voter yet .</div>
    <div>Try Submitting documents to apply for voting process.</div>
    <div>If already submitted the documents, please wait patiently for the verification process to be completed.</div>
</div>
