
@{
    ViewBag.Title = "InvalidVoter";
}

<head>
    <link rel="stylesheet" href="~/Content/Notification.css">
</head>
<div class="form-div">
    <div>Sorry, you are not an approved Voter!</div>
    <div>Cannot cast vote at the moment.</div>
</div>
