
@{
    ViewBag.Title = "Vote";
}

<head>
    <link rel="stylesheet" href="~/Content/Notification.css">
</head>
<div class="form-div">
    <div>Thank you for being a responsible citizen of India and contributing your vote.</div>
    <div>
        Your vote has being registered and the results will be declared soon.
    </div>
</div>
