
@{
    ViewBag.Title = "CandidateApprovedUpdate";
}
<head>
    <link rel="stylesheet" href="~/Content/Notification.css">
</head>

<div class="form-div">Congratulation! You have being approved for the Candidate position.</div>

