
@{
    ViewBag.Title = "NotValidateVoter";
}
<head>
    <link rel="stylesheet" href="~/Content/Notification.css">
</head>
<div class="form-div">Dear user, you cannot apply for this position until you are an valid voter.</div>

